.container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2rem;
    font-family: personText;
    color:#562D2A ;
}

@font-face {
    font-family: personText;
    src: url(/fonts/Stardew_Valley.ttf);
}

.textoIntro {
    background-color: #F4C784;
    box-shadow: 1px 0px 117px 19px rgba(148, 96, 66, 0.75) inset;
    -webkit-box-shadow: 1px 0px 117px 19px rgba(148, 96, 66, 0.75) inset;
    -moz-box-shadow: 1px 0px 117px 19px rgba(148, 96, 66, 0.75) inset;
    border: 8px ridge #BA601A;
    width: 35rem;
}

.text {
    font-size: 32px;
    margin: 0.5rem;
}

.close {
    font-size: 40px;
    margin-top: -1rem;
    text-align: right;
    font-family: personText;
    color:#562D2A ;
}

.buttonClose {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.containerButtonClose {
    justify-content: right;
    display: flex;
}

.infos   {
    background-image: url(/fundos/fundocaixaspersonagem.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 0.5rem 1rem;
    border-top: 8px ridge #BA601A;
border-right: 8px ridge #BA601A;
border-bottom: 8px ridge #BA601A;
}

.titulo {
    background-image: url(/pngs/nomepersonagens.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.imagem {
    background-color: #ddb880 ;
    border: 8px ridge #BA601A;
    border-radius: 4px;
}