.containerPrincipal {
  background-image: url(../public/fundos/FundoPrincipal.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
min-height: 100vh;
  height: 100vh;
}